*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
.nav-logo {
    width: 148px;
    height: 25px;
}
.navbar-nav{
    margin-left: auto;
    margin-bottom: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.navbar-nav ul{
    list-style: none;

}
.navbar-nav li{
    padding: 0 50px;
}
.navbar-nav li a{
    text-decoration: none;
    color: #000;
    font-size: 16px;
}
.navbar-nav li a:hover{
    color:  hsl(0, 94%, 66%);
}
.nav-btn {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 16px;
    color: #fff;
    padding: 10px 25px;
    border-radius: 5px;
    border: none;
    background-color:  hsl(0, 94%, 66%);
    box-shadow: 0px 4px 8px -2px rgba(173, 171, 173, 0.81);
    outline: none;
    border: 2px solid  hsl(0, 94%, 66%);
    transition:all 0.2s ease-in-out;
}
.nav-btn:hover{
    box-shadow: none;
    background: transparent;
    color: hsl(0, 94%, 66%);
}
.hero-section {
    margin-top: 100px;
    padding-bottom: 20px;
}

.text-container {
    text-align: left;
}
.text-container h2 {
    line-height: 1.3;
    font-size: 35px;
}
.text-container p {
    color:  hsl(229, 8%, 60%);
    margin:20px 0 24 0;
    font-size: 20px;
}
.btn-chrome {
    padding: 10px 25px;
    background-color:hsl(231, 69%, 60%);
    color: #fff;
    font-weight: 500;
    border: 2px solid hsl(231, 69%, 60%);
    border-radius: 4px;
    box-shadow: 0px 4px 8px -2px rgba(173, 171, 173, 0.81);
    transition: all 0.2s ease-in-out;
    margin-bottom: 30px;
}
.btn-chrome:hover {
    background-color: #fff;
    color: hsl(231, 69%, 60%);
}
.btn-firefox {
    padding: 10px 25px;
    background-color: #f6f6f6;
    color: #000;
    font-weight: 400;
    border: 2px solid #f6f6f6;
    border-radius: 4px;
    margin-left: 30px;
    box-shadow: 0px 4px 8px -2px hsl(229, 8%, 60%);
    transition: all 0.2s ease-in-out;
    margin-bottom: 30px;
}
.btn-firefox:hover {
    border: 2px solid #000;
    box-shadow: none;
}
/* features */
.features-titles{
    margin-top: 100px;
}
.features-titles p{
    align-self: center;
    color: hsl(229, 8%, 60%);
    max-width: 700px;
    margin-top: 20px;
    margin-bottom: 80px;
    font-size:20px;
}
.features-text ul{
    border-bottom: 1px solid hsl(229, 8%, 60%);
}
.features-text li{
    cursor: pointer;
    color: hsl(229, 8%, 60%);
    padding-bottom: 19px;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
}
.features-text li:first-child{
    border-bottom: 3px solid red;
}
.features-text li:hover{
    border-bottom: 3px solid red;
    color: #fff;
}
.content h1 {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 16px;
  }

.content p {
    color: hsl(229, 8%, 60%);
    font-size:20px;
    margin-bottom: 20px;
  }

.content button {
    min-width: 100px;
    width: 20%;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    background-color: hsl(231, 69%, 60%);
    color: #fff;
    transition: all 0.2s ease-in-out;
}
/* cards */
.card {
    padding: 45px 10px 30px 10px;
    text-align: center;
    box-shadow: 0 8px 12px 2px hsl(229, 8%, 60%);
    border-radius: 5%;
    height: 380px;
}
.card img{
    width: 50%;
    margin: auto;
}
.card img {
    margin-bottom: 20px;
  }

 .card  p {
    color: #9194a1;
    margin: 0;
  }
.card .dots {
    margin: 20px auto;
    width: 100%;
}
.card-firefox{
    transform: translateY(30px);
}
.card-opera{
    transform: translateY(70px);
}
/* toggle section */
/* contact us section */
.contact{
    height: 300px;
    background-color:hsl(231, 69%, 60%);
    z-index: 1;
}
.contact h4 {
    margin: 70px 0 20px 0;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 3px;
  }
.contact h3{
    font-size: 32px;
}
input {
    margin-right: 30px;
    justify-content: center;
    height: 45px;
    border-radius: 4px;
    border: none;
    width: 30%;
    padding-left: 20px;
    z-index: 1;
}
button {
    /* width: 150px; */
    padding: 10px 25px;
    background-color:  hsl(0, 94%, 66%);
    color: #fff;
    font-weight: 500;
    border: 2px solid  hsl(0, 94%, 66%);
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
}
button:hover {
    background-color: #fff;
    color:  hsl(0, 94%, 66%);
}
/* footer */
.footer {
    display: flex;
    align-items: flex-start;
    justify-content:space-between;
    height: 100px;
    padding: 0 10%;
    padding-top: 40px;
    background-color: hsl(229, 31%, 21%);
}
.f-content{
    display: flex;
}

.footer ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.footer a {
    text-transform: uppercase;
    color: white;
    letter-spacing: 2px;
    font-size:14px;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    padding: 0 20px;
    display: inline-block;
}
.footer a:hover {
    color:  hsl(0, 94%, 66%);
}
.icons{
    display: flex;
    width: 100px;
    justify-content: space-between;
}
.footer .fab{
    font-size: 24px;
    color: #fff;
    transition: all 0.2s ease-in-out;
}
.footer .fab:hover{
    color: hsl(0, 94%, 66%);
}
@media screen and (max-width: 750px){
    .footer{
        flex-direction: column;
        height: 300px;
        justify-content:center;
        margin: auto;
    }
    .f-content{
        flex-direction: column;
        align-items: center;
        margin: auto;
    }
    .f-content ul{
        flex-direction: column;
        width: 100%;
        justify-content: center;
        text-align: center;
        margin: 30px 0 10px 0;
    }
    .f-content a{
        margin-bottom: 20px;
        text-align: center;
    }
    .icons{
       margin: auto;
    }
}
     